<nav class="navbar navbar-expand-lg bg-light">
  <div class="container">
    <%= link_to "Blog App", users_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if current_user %>
          <li class="nav-item">
            <%= link_to "All Users", users_path, class: "nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "Sign out", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>